<div class="container" ng-controller="listCtrl">
    <div class="content-header">
        <span class="content-title">Vehicule List</span>
    </div>
    <div class="row content-menu">
        <div style="width: 80%; float: left;"><input class="form-control" type="text" ng-model="searchFor" placeholder="Filter by..." aria-label="Search"></div>
        <div style="width: 20%; float: right; " class="text-center"> &nbsp; 
            <a href="#/" class="btn btn-sm btn-default"> <i class="glyphicon glyphicon-home"></i> Home </a> 
            &nbsp;
            <a href="#/new" class="btn btn-sm btn-default"> <i class="glyphicon glyphicon-plus-sign"></i> New</a>
        </div>
    </div>
    
    
    <div class="row " >
        <div class="panel panel-default" ng-repeat="car in vehicules | filter:searchFor | orderBy:orderProp:orderdesc">
            
            <div class="panel-body">                        
                <table >
                    <tr><td>ID</td><td><b>{{car.id}}</b></td></tr>
                    <tr><td>Manufacturer</td><td><b>{{car.make}}</b></td></tr>
                    <tr><td>Model</td><td><b>{{car.model}}</b></td></tr>
                    <tr><td>Year</td><td>{{car.year}}</td></tr>

                    <tr><td>Seller</td> <td>{{car.sellerName}}</td></tr>
                    <tr><td>Address</td> <td> {{car.address}} {{car.apartment}} {{car.city}}, {{car.province}} </td></tr>
                    <tr><td>Contacts</td> <td>{{car.phone}} {{car.email}}</td></tr>
                    <tr><td>See on web</td> <td> <a href="http://www.jdpower.com/cars/{{car.jdpowerlink}}" target="_blank">JdPowerlink</a> </td></tr>
                </table>
                
            </div>
        </div>
    </div>
</div>