    <div class="main" ng-controller="homeCtrl">
        <div class="row " >
            <div class="col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Welcome to this App
                    </div>
                    <div class="panel-body text-center">
                    Select your option:
                    <br>
                    <!-- <button class="btn btn-default">New</button> -->
                    <a href="#/new" class="btn btn-default"> <i class="glyphicon glyphicon-plus-sign"></i> New</a>
                    &nbsp;&nbsp;
                    <a href="#/vlist" class="btn btn-default"> <i class="glyphicon glyphicon-screenshot"></i> Search</a>

                    </div>
                </div>
            </div>

        </div>
    </div>